<div class="row">
<form method="POST" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Add/Edit School</legend>
        </div>        
        <div class="form-group">
            <label for="SchoolName" class="control-label col-md-2">School:</label>
            <div class="col-md-6">
                <input type="text" name="SchoolName" id="SchoolName" class="form-control" 
               value="{{schools.Name}}" disabled>
                
            </div>
        </div>    
         <div class="form-group">
            <label for="SchoolAdress" class="control-label col-md-2">Adress:</label>
            <div class="col-md-6">
                <input type="text" name="SchoolAdress" id="SchoolAdress" class="form-control" value="{{schools.Adress}}" disabled>
            </div>
        </div>      
         <div class="form-group">
            <label for="SchoolContacts" class="control-label col-md-2">Contacts:</label>
            <div class="col-md-6">
                <input type="text" name="SchoolContacts" id="SchoolContacts" class="form-control" 
                value="{{schools.Contacts}}" disabled>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</form>
</div>